// env {
//     // Explicitly add nix path (macOS specific)
//     PATH = "/Users/paul/.nix-profile/bin:$PATH"
//     
//     // Ensure the wrapper knows which instance to talk to (just in case)
//     LIMA_INSTANCE = 'apptainer'
// }

params {
    input_fasta        = "${projectDir}/reference_data/filtered_contig.fasta"
    input_annotations  = "${projectDir}/reference_data/filtered_contig_annotations.csv"
    reference_data     = "${projectDir}/reference_data/BCR_data.tsv"
    outdir             = "${projectDir}/results"
    mixcr_license      = "E-KUANTQVFHDINTSJBPTHYDUPDOZTBPXMZTUXZIYFVEPODZKZO"
    //comparison_rscript = "${projectDir}/bin/compare_results.R"
}

process {
    withName: 'RUN_IMMCANTATION' {
        container = 'immcantation/suite:4.4.0'
    }
    withName: 'COMPARE_RESULTS' {
        container = 'rocker/tidyverse:latest'
    }
    withName: 'RUN_CELLRANGER' {
        container = 'ubuntu:22.04'
        containerOptions = "--bind ${projectDir}/bin/cellranger-10.0.0:/opt/cellranger-10.0.0:ro"
        shell = ['/bin/sh', '-e']
    }
    withName: 'RUN_SRA_DOWNLOAD' {
        // use a biocontainers image that provides sra-tools; seqtk may not be present
        container = 'paulpyl/sra-tools_bash:latest'
    }
    withName: 'RUN_MIXCR' {
        container = 'ghcr.io/milaboratory/mixcr/mixcr:4.7.0'
        containerOptions = '--no-home --writable-tmpfs'
    }
}

docker.enabled = false
apptainer {
    enabled = true
//    options = "--cache-path $APPTAINER_CACHEDIR"
  
}
